/* fontes do google */

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}

/*------------------------------BODY--------------------------------*/

body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/img/img-grupo\ \(1850\ x\ 1500\ px\)\ \(1\).png);
    height: 3800px;
    background-repeat: no-repeat;
    /*background-color: black;*/

    

}

header{
    width: 100%;
    height: 60vh;
    
}

header img{
    text-align: center;
    
}

/* -------------------------  */

main{
    
    width: 100%;
    height: 1000px;
}

.grupo {
    display: flex;
}

.texto-grupo {
    text-align: justify;
    width: 100%;
    height: 1000px;
   
}

.texto-grupo h1{
    margin-left: 20%;
    margin-bottom: 40px;
    font-family: Libre Baskerville
    ;
    margin-top: 5%;
}

.texto-grupo p{
    text-align: justify;
    width: 70%;
    margin-left: 20%;
    font-family: Libre Baskerville
    ;
    line-height: 25px;
}


.img-grupo{
    /* margin-top: -150px; */
    width: 100%;
    justify-content: right;
    height: 200px;
    text-align: right;
}

.img-grupo img {
   max-width: 70%;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 8px solid white;
    margin-top: -150px;
}

.img-grupo2{
    /* margin-top: -150px; */
    width: 100%;
    justify-content: center;
    height: 300px;
    text-align: right;
}

.img-grupo2 img {
    max-width: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 8px solid white;
    margin-top: -350px;
    margin-right: 505px;
 }

section{
    display: inline-block;
    width: 80%;
    height: 600px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
 }

h2{
    text-align: center;
    padding: 10px;
    font-family: Libre Baskerville
    ;
    font-size: 50px;
    background-color: white;
    margin-bottom: 5%;
    
}

.empresas {
    display: inline-block;
    padding: 50px;
    height: 700px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #eeeff1;
    border-radius: 5px;
}

.grupo-empresas {
    display: flex;
    justify-content: space-evenly;
}


.cards-empresas1{
    width: 12%;
    height: 220px;
    
}

.cards-empresas1 img{
    max-width: 100%;
    
}
