* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}

/*------------------------------BODY--------------------------------*/

body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: black;*/

}

.header{
    width: 1000px;
}